.root {
  background-color: #221f2f;
  border-radius: 8px;
  padding: 10px;
  color: #a2a7b9;
}

.label {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;

  display: flex;
  align-items: center;
  column-gap: 8px;

  margin-bottom: 12px;
}

.wraper {
  display: grid;
  row-gap: 15px;
}

.submit {
  margin: 8px 0 6px;
}
